/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/GreetLoader.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.GreetLoader_container__BtWrw {
  background-color: rgb(0, 3, 25);
  color: white;
  font-family: "Familjen Grotesk", Arial, sans-serif;
  font-weight: 300;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.GreetLoader_helloLanguages___Z4ck {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 6em; /* Default size */
  width: 100%;
  height: auto; /* Adjust height based on content */
  display: flex;
  justify-content: center;
  align-items: center; /* Ensure vertical alignment */
}

.GreetLoader_helloLanguages___Z4ck li {
  margin: 0;
  position: absolute;
  opacity: 0;
  animation: GreetLoader_slideInOut__PcHdV 3s linear forwards;
  font-weight: 300;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* For other browsers */
  color: transparent; /* Make text color transparent so gradient shows */
  display: inline-block;
}

/* Animation Keyframes */
@keyframes GreetLoader_slideInOut__PcHdV {
  0% { transform: translateY(100%); opacity: 0; }
  10% { transform: translateY(0); opacity: 0; }
  0% { transform: translateY(0); opacity: 1; }
  30% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(-100%); opacity: 0; }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .GreetLoader_helloLanguages___Z4ck {
    font-size: 5em;
  }
}

@media (max-width: 992px) {
  .GreetLoader_helloLanguages___Z4ck {
    font-size: 4em;
  }
}

@media (max-width: 768px) {
  .GreetLoader_helloLanguages___Z4ck {
    font-size: 3em;
  }
}

@media (max-width: 576px) {
  .GreetLoader_helloLanguages___Z4ck {
    font-size: 3em;
  }
}

